<center class="col-md-5 mx-auto mt-3 p-4">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <span class="d-flex justify-content-start col-md-8">
        <%= f.label :email %>
      </span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-md-8", placeholder: "Email"%>
    </div>

    <div class="field">
      <span class="d-flex justify-content-start col-md-8 mt-2">
        <%= f.label :password %>
      </span>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-md-8", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field col-md-8 d-flex justify-content-start pt-2">
        <%= f.check_box :remember_me, class: "mt-1 mr-1" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-success col-md-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</center>